#inputlength{
            background: rgba(0, 195, 0, 0.654);
            text-align: center;
            font-size: 30px;
        }
        textarea{
            font-family: 'Klee One',cursive;
            font-size: 2rem;
            width: 100%;
            height: 70%;
        }
        #btn{
            border: 4px solid #000;
            background: #fff;
            width: 100%;
            margin: auto;
            padding: auto;
            height: 60px;
            font-family: sans-serif;
            font-size: 20px;
            cursor: pointer;
        }
        h1::after{
            content: '文字数カウント';
        }
